.popup__title {
    margin: 34px 8.4% 54px;
    font-size: 24px;
    font-weight: 900;
    font-family: 'Inter', 'Arial', sans-serif;
    line-height: 29px;
    text-align: left;
}

@media all and (max-width: 650px) {
    .popup__title {
        font-size: 18px;
        line-height: 22px;
        margin: 25px 22px 75px;
    }
}